@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --accent: #FE6211;
  --gray: #878E76;
}
svg, button{
  cursor: pointer;
}

header{
  height: 100px;
  background-color: var(--accent);
  display: grid;
  place-items: center;
}

header img {
  height: 100px;
}

main{
  padding: 40px 30px;
}

form{
  display: grid;
  grid: min-content 60px/ 1fr 1fr;
  gap: 15px;
  font-size: 1.4rem;
}

form div{
 display: grid;
 grid: 1fr / 1fr  80px ;
 grid-column: span 2;
 gap: 10px;
}

form label{
  justify-self: end;
}
form input{
  border-radius: 10px;
  padding-left: 20px;
  font-size: 1.2rem;
  width: 100%;
}

form button{
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 10px;
}
.delete{
  color: var(--accent);
  cursor: pointer;
}

.card{
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: var(--gray) ;
  border-radius: 10px;
  color: white;
  align-items: center;
  transform-origin: center left;
}

.card p{
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
  padding-right: 5px;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:20px;
  padding: 20px;
}

/**-----Modal------**/
.bg{
background: rgba(0, 0, 0, .7);
position: fixed;
inset: 0;
margin: auto;
width: 100vw;
height: 100vh; 
}
.modal{
   position: absolute;
   inset: 0;
   margin: auto;
   width:60%;
   height: 80%;
   background: #D9D9D9;
   border-radius: 20px;
   padding:30px;
   display: grid;
   grid: min-content 1fr /1fr;
}
.modal .list{
  padding: 50px 30px 30px;
}
.modal > div:first-of-type{
   display: grid;
   grid: 1fr/90% 1fr;
   place-items: center;
}

.list h2{
  text-align: center;
  opacity: 0.7;
}
